@media screen and (max-width:376px) {

    main{
        width: 335px;
    }

    .calculator {
         width: 335px;

        &__theme {
            margin-top: 60px;
            margin-bottom: 55px;
        }


        &__main {
            width: 335px;
            
            margin-left: 0;
            margin-right: 0;

            &-buttons{
                align-items: center;
                justify-content: space-around;
            }
            &-btn {
                width: 71px;
                height: 72px;
            }
        }
    }

}