@media screen and (max-width:768px) {



    .calculator {
        background-color: #17171C;
        color: #fff;
        display: flex;
        flex-direction: column;
        align-items: center;



        &__theme {
            margin-top: 60px;
            margin-bottom: 267px;
            background-color: #2E2F38;
            width: 72px;
            border-radius: 16px;

            display: flex;
            flex-direction: row;
            column-gap: 12px;
            align-items: center;

    
            &>button {
                background-color: #2E2F38;
                border: 0;
                border-radius: 100%;
                padding: 4px 0px 4px 4px;
            }

        }

        &__main {
            display: flex;
            flex-direction: column;
            row-gap: 16px;

            margin-left: 20px;
            margin-right: 20px;


            &-input {
                font-weight: 300;
                font-size: 40px;
                text-align: right;
                opacity: 0.4;
                width: 100%;
            }

            &-result {
                font-weight: 300;
                font-size: 96px;
                line-height: 100%;
                text-align: right;
                width: 100%;
            }

            &-buttons {
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                width: 100%;
                gap: 10px;
            }


            &-btn {
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: center;

                font-weight: 400;
                font-size: 32px;
                line-height: 125%;
                
                padding: 12px;
                border-radius: 24px;
                width: 170px;
                height: 72px;
                border: 0;

                background-color: #2E2F38;

                &:hover {
                    cursor: pointer;
                }

                &>img{
                   width: 32px;
                    height: 32px;
                }
            }

        }
    }


}